APP_PORT=8080
LOG_LEVEL=info

# Evoluções futuras
ORACLE_DSN=
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
REDIS_ADDR=localhost:6379
